.top-level-layout {
    height: 100%;
}

.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
    padding: 10px;
}

.search-bar {
    flex: 1 1 auto;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 15px;
    font-size: 12px;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.app-title {
    cursor: pointer;
    margin-left: 10px;
}

.main-content {
    margin: 10px;
}