<div class="top-level-layout">
  <mat-drawer-container class="sidenav-container">
    <mat-drawer #drawer mode="side" class="sidenav">
      <mat-list role="list">
        <mat-list-item role="listitem">
          <a mat-button routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        </mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
        </mat-list-item>
        <mat-list-item role="listitem">
          <a mat-button routerLink="/home" routerLinkActive="active">Starfinder</a>
        </mat-list-item>
        <mat-list-item role="listitem">
          <a mat-button routerLink="/home" routerLinkActive="active">Pathfinder</a>
        </mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <a mat-button routerLink="/settings" routerLinkActive="active">Settings</a>
        </mat-list-item>
      </mat-list>
    </mat-drawer>
    <mat-drawer-content>
      <mat-toolbar>
        <button mat-icon-button aria-label="Toggle application menu." (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="app-title" routerLink="/dashboard" routerLinkActive="active">morphi</span>
        <!-- <span class="toolbar-spacer"></span> -->
        <mat-form-field class="search-bar" appearance="outline">
          <mat-label>Search</mat-label>
          <input matInput>
        </mat-form-field>
        <button mat-icon-button aria-label="Open application settings." routerLink="/settings" routerLinkActive="active">
          <mat-icon>settings</mat-icon>
        </button>
      </mat-toolbar>
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
  </mat-drawer-content>
  </mat-drawer-container>
</div>